= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB4K6-CCeiGy0if2o3rJsuoYCpTCCDqT6I&callback=initMap", :defer => "defer"


.wrapper.row3
  .container
    .row
      .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12.m-w-800
        %h1
          %strong='About US'

        #map

        %br
        %br
        %br
        %br
        %p
          %strong='PAI HEALTH CARE SOLUTIONS'

        %p= 'Flat No:104,Sahara Apartments,'
        %p= 'Towards Mythrivanam Road,'
        %p= 'Above Sai Abhiruchi Tiffins,'
        %p= 'Sanjeeva Reddy Nagar'
        %p= 'Hyderabad - 500038'






:javascript
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    var pai = {lat: 17.440695841571024, lng: 78.44245925545692};
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: pai});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: pai, map: map});
  }